@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #474747;
}

html, body{
    min-height: 100%;
}

body{
    background: rgb(255,218,220);
    background: linear-gradient(160deg, rgba(255,218,220,1) 0%, rgba(218,218,218,1) 50%, rgba(191,244,255,1) 100%);
    background-repeat: no-repeat;
}

p{
    margin: 16px auto;
    line-height: 1.5rem;
}


/* **************
LAYOUT & NAVBAR
***************** */

.layout{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

nav .links{
    display: inline-block;
    text-align: right;
}

nav a{
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    border-color: white;
}

footer p{
    text-align: center;
    color: #797979;
    margin: 40px auto;
}

@media screen and (max-width: 900px){
    .layout{
        margin: 20px;
    }
}

.type-bug{
    width: 100px;
    height: 30px;
    background-color: #99c631;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-dark{
    width: 100px;
    height: 30px;
    background-color: #4a4858;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-dragon{
    width: 100px;
    height: 30px;
    background-color: #0763ad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-eletric{
    width: 100px;
    height: 30px;
    background-color: #f5d13e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    }

.type-fairy{
    width: 100px;
    height: 30px;
    background-color: #ef8dde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-fighting{
    width: 100px;
    height: 30px;
    background-color: #e24653;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
}

.type-fire{
    width: 100px;
    height: 30px;
    background-color: #ff9c52;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-flying{
    width: 100px;
    height: 30px;
    background-color: #88adde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-ghost{
    width: 100px;
    height: 30px;
    background-color: #526bae;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-grass{
    width: 100px;
    height: 30px;
    background-color: #63bd52;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-ground{
    width: 100px;
    height: 30px;
    background-color: #d87846;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-ice{
    width: 100px;
    height: 30px;
    background-color: #71cec2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    }

.type-normal{
    width: 100px;
    height: 30px;
    background-color: #9399a5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-poison{
    width: 100px;
    height: 30px;
    background-color: #a567c7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-psychic{
    width: 100px;
    height: 30px;
    background-color: #f86e76;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-rock{
    width: 100px;
    height: 30px;
    background-color: #918c74;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-steel{
    width: 100px;
    height: 30px;
    background-color: #678796;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

.type-water{
    width: 100px;
    height: 30px;
    background-color: #40c8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #f0f0f0;
    }

@media screen and (max-width: 1366px){
    .layout{
        margin: 20px 40px;
    }
}
