.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}

.header h2{
    font-size: 4rem;
}

.header h3{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background-color: tomato;
    padding: 12px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

.pokemon__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center
}

.pokemon__list h2{
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
    text-transform: capitalize;
}

.pokemon__list h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card{
    width: 230px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 1px #6e6e6e80; 
    box-shadow: 0px 0px 7px 1px #6e6e6e80;
}

.thumbnail{
    max-width: 200px;
    height: auto;
    margin: 20px 0;
}