.pokemon_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
    width: 230px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 1px #6e6e6e80; 
    box-shadow: 0px 0px 7px 1px #6e6e6e80;
}

/* work with variables */
